body {
  background-color: goldenrod !important;
  margin: 0px !important;
  padding: 0px !important;
}

.main {
  text-align: center;
  font-family: "Merriweather";
  font-size: 25px;
}

.demo-container {
  display: flex;
}

.demo-card {
  margin: 1%;
  padding: 0.5%;
}

.width-two-cards {
  max-width: 40%;
}

.width-four-cards {
  max-width: 20%;
}

.width-eight-cards {
  max-width: 10%;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

.flex-three {
  flex: 3;
}

.demo-cards {
  border: 1px solid transparent;
}

.demo-card-player-top {
  border-top: 3px solid blue;
}

.demo-card-player-right {
  border-right: 3px solid red;
}

.demo-card-player-bottom {
  border-bottom: 3px solid green;
}

.demo-card-player-left {
  border-left: 3px solid yellow;
}

.demo-card-used {
  filter: invert(25%);
}

.demo-table {
  min-height: 100px;
  min-width: 10px;
  margin: 2%;
  border-top: 3px solid blue;
  border-right: 3px solid red;
  border-bottom: 3px solid green;
  border-left: 3px solid yellow;
}
